.about {
    overflow-y: scroll;
    max-width: 100%;
    font-family: $font-serif;
    font-size: $font-size-small;
    line-height: $line-height;
    color: $color-grey;
    background: $color-black;
    .biography {
        padding: $base-padding;
        h1, p { margin-bottom: 1em; }
        h1 { font-size: 1.5em; }
        p:last-child { margin-bottom: 0; }
        a {
            color: $color-grey;
            &:hover {
                color: $color-accent;
            }
        }
        .index-link {
            text-decoration: none;
        }
    }
}

@media all and (min-width: $small-breakpoint) {
    .biography {
        position: fixed;
        bottom: 0;
    }
}
