* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  @media (min-width: 430px) {
    font-size: 16px;
  }
  @media (min-width: 530px) {
    font-size: 19px;
  }
  @media (min-width: 730px) {
    font-size: 21px;
  }
  @media (min-width: 930px) {
    font-size: 23px;
  }
  @media (min-width: 1130px) {
    font-size: 25px;
  }
  @media (min-width: 1330px) {
    font-size: 27px;
  }
}

html, body {
  max-width: 2*$max-width;
  margin: 0 auto;
  line-height: $line-height;
  color: $color-black;
  background: $color-white;
}
