* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  @media (min-width: 430px) {
    font-size: 16px;
  }
  @media (min-width: 530px) {
    font-size: 19px;
  }
  @media (min-width: 730px) {
    font-size: 21px;
  }
  @media (min-width: 930px) {
    font-size: 23px;
  }
  @media (min-width: 1130px) {
    font-size: 25px;
  }
  @media (min-width: 1330px) {
    font-size: 27px;
  }
}

html, body {
  max-width: 2*$max-width;
  margin: 0 auto;
  line-height: $line-height;
  color: $color-black;
  background: $color-white;
}

svg {
  vertical-align: middle;
  path {
    fill: $color-black;
    fill-rule: evenodd;
  }
}

b, strong {
  font-size: bold;
}

i, em {
  font-style: italic;
}

a {
  color: $color-black;
  opacity: 1;
}

hr {
  margin: $spacing $spacing/2;
  border: none;
  border-bottom: 8px solid $color-black;
}

a:hover, a:active {
  color: $color-accent;
  svg path {
    fill: $color-accent;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: $line-height;
}

h1, .h1 {
  font-size: 1.500em;
}

h2, .h2 {
  font-size: 1.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.000em;
}

h5, .h5 {
  font-size: 0.875em;
}

h6, .h6 {
  font-size: 0.625em;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: $spacing;
}

ul > ul, ol > ol {
  padding-left: $spacing;
}

blockquote {
  font-size: $small;
  line-height: $line-height;
}

sup {
  font-family: $sans-serif;
  font-size: $small;
  line-height: 0;
  a {
    text-decoration: none;
  }
}

abbr {
  font-variant: small-caps;
  font-feature-settings: "smcp" 1;
  cursor: help;
}

figure {
  margin: 2*$spacing 0;
  text-align: center;

  &.quote p {
    font-style: italic;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  figcaption {
    max-width: $max-width;
    margin: 0 auto;
    font-family: $sans-serif;
    font-size: $small;
    line-height: $line-height;
    text-align: left;
  }
}
