.essay {
    h2, p, ul, ol, blockquote
    {
        max-width: $max-width;
        margin: 0 auto $spacing auto;
    }
    img
    {
        max-width: 100%;
        text-align: center;
    }
}

.charlesgate.essay {
    h2 {
        margin-bottom: 0;
        text-align: center;
    }
    .subhead {
        margin: 0 auto;
        text-align: center;
    }
    #section-footer {
        margin-top: 4*$spacing;
    }
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        figure {
            flex: 1 1 50%;
            margin: 0;
            padding: $spacing/2;
        }
    }
}
