.global-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: $spacing/2;
    font-family: $sans-serif;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 310px) {
    .global-header {
        justify-content: space-between;
    }
}

.name {
    margin-bottom: 0;
    font-size: 1rem;
}

.sections {
    li {
        margin: 0 0 0 $spacing/2;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-decoration: none;
    }
}

/* fix the header to the top
.global-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-white;
    border-bottom: 1px solid $color-grey;
}
*/
