.highlight {
    max-width: 34rem;
    margin: 0 auto $spacing;
    h1, h2, h3 {
        line-height: $line-height;
        margin-bottom: 0;
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 0 $spacing/4;
        font-size: 1rem;
        line-height: $line-height;
        background: yellow;
    }
    .link {
        margin-bottom: 0;
        font-family: $sans-serif;
        font-size: $small;
        line-height: $line-height;
        a {
            text-decoration: none;
        }
    }
}
