body {
  /* This makes sure the footer reaches the bottom of the page even when the page is short. */
  min-height: 100vh;
  @include flexbox;
  @include flex-flow(column nowrap);
  @include justify-content(space-between);
  & > * {
    @include flex(1 1 auto);
  }
  & > header, & > footer {
    @include flex(0 0 auto);
  }
}

.element, .container {
  padding: $spacing/2;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.mb {
  margin-bottom: $spacing;
}

.mb0 {
  margin-bottom: 0;
}

.bb {
  border-bottom: 1px solid;
}

.bb--thick {
  border-bottom-width: 2px;
}

.bb--grey {
  border-bottom-color: $color-grey;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.sticky {
  position: sticky;
  &--top {
    top: 0;
  }
  &--bottom {
    bottom: 0;
  }
}

.width-100 {
  width: 100%;
}

.extra-vertical-space {
  margin: 2*$spacing 0;
}

.mac-window {
  border-radius: 4px;
  box-shadow: 0px 3px 6px 3px rgba($color-black, .5);
}

.flexbox {
  @include flexbox;
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.justify-between {
  @include flexbox;
  @include justify-content(space-between);
}

.align-baseline {
  @include flexbox;
  @include align-items(baseline);
}

.align-end {
  @include flexbox;
  @include align-items(flex-end);
}

.flex-100 {
  @include flex(0 1 100%);
}

.flex-auto {
  @include flex(1 1 auto);
}

.flex-0 {
  @include flex(0 0 auto);
}

.monogram {
  height: 1.25em;
  width: 1.25em;
  margin-right: $spacing/8;
}
