.post {
    max-width: 40em;
    margin: 0 auto;
    padding: $base-padding $base-padding 0 $base-padding;
    @media all and (min-width: $small-breakpoint) {
        font-size: $font-size-large;
        line-height: $line-height;
        &:first-child { padding-top: 20vh; }
        &:last-child { padding-bottom: 20vh; }
    }

    p {
        @media all and (min-width: $small-breakpoint) {
            margin-right: $base-margin;
        }
    }

    img {
        max-width: 100%;
    }

    ul, ol {
        padding-left: $base-padding;
    }

    & > * { margin-bottom: $base-margin; }
    li { margin-bottom: $base-margin; }

    figure {
      margin-left: 0;
      img {
        margin: 0;
      }
      figcaption {
        font-size: $font-size-small;
        line-height: $line-height;
        color: $color-grey;
      }
    }

    .title, .date {
        display: inline-block;
    }
    .title {
        margin-bottom: 1em;
        font-size: $font-size-large;
    }
    .date {
        display: block;
        margin-bottom: .5em;
        font-size: $font-size-small;
        color: $color-grey;
    }
    .permalink { text-decoration: none; }
}

li.post + li.post { padding-top: 0; }
