.post {
    max-width: 40em;
    margin: 0 auto;
    padding: $base-padding $base-padding 0 $base-padding;
    @media all and (min-width: $small-breakpoint) {
        font-size: $font-size-large;
        line-height: $line-height;
        &:first-child { padding-top: 20vh; }
        &:last-child { padding-bottom: 20vh; }
    }
    
    p {
        @media all and (min-width: $small-breakpoint) {
            margin-right: $base-margin;
        }
    }
    
    img {
        max-width: 100%;
        margin-top: $base-margin
    }
    
    ul, ol {
        padding-left: $base-padding;
    }

    & > * { margin-bottom: $base-margin; }
    li { margin-bottom: $base-margin; }

    .title, .date {
        font-family: $font-sans-serif;
    }
    .title {
        margin-bottom: 1em;
        font-size: $line-height;
        line-height: $line-height;
    }
    .date {
        display: block;
        margin-bottom: 0;
        font-size: 0.6875em;
        line-height: 1em;
        color: $color-grey;
    }
    .permalink { text-decoration: none; }
}

li.post + li.post { padding-top: 0; }