svg {
  vertical-align: middle;
  path {
    fill: $color-black;
    fill-rule: evenodd;
  }
}

b, strong {
  font-size: bold;
}

i, em {
  font-style: italic;
}

a {
  color: $color-black;
  opacity: 1;
}

hr {
  margin: $spacing $spacing/2;
  border: none;
  border-bottom: 8px solid $color-black;
}

a:hover, a:active {
  color: $color-accent;
  svg path {
    fill: $color-accent;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: $line-height;
}

h1, .h1 {
  font-size: 1.500em;
}

h2, .h2 {
  font-size: 1.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.000em;
}

h5, .h5 {
  font-size: 0.875em;
}

h6, .h6 {
  font-size: 0.625em;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: $spacing;
}

ul > ul, ol > ol {
  padding-left: $spacing;
}

blockquote {
  font-size: $small;
  line-height: $line-height;
  padding-left: $spacing;
  border-left: 2px solid $color-grey;
}

sup {
  font-family: $sans-serif;
  font-size: .675em;
  line-height: 0;
  vertical-align: super;
  a {
    text-decoration: none;
  }
}

abbr {
  font-variant: small-caps;
  font-feature-settings: "smcp" 1;
  cursor: help;
}

figure {
  margin: 2*$spacing 0;
  text-align: center;

  &.quote p {
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: $spacing;
  }

  figcaption {
    max-width: $max-width;
    margin: 0 auto;
    font-family: $sans-serif;
    font-size: $x-small;
    line-height: $line-height;
    text-align: center;
  }
}

.serif {
  font-family: $serif;
}

.sans-serif {
  font-family: $sans-serif;
}

.bold, .b, .strong {
  font-weight: bold;
}

.italic, .i, .em {
  font-style: italic;
}

.x-small {
  font-size: .625em;
}

.small {
  font-size: .875em;
}

.large {
  font-size: 1.125em;
}

.inline {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.footnotes {
  font-size: $small;
  font-family: $sans-serif;
}

.textbox {
  // Let it breathe!
  $textbox-spacing: 1.125 * $spacing;
  line-height: 1.125 * $line-height;
  p {
    margin-bottom: $textbox-spacing;
  }
  img {
    display: block;
    margin: $textbox-spacing auto;
  }
}

.nounderline {
  text-decoration: none;
}

.nostyle {
  list-style: none;
  padding-left: 0;
}

.title {
  font-size: 3em;
  line-height: $line-height;
  font-weight: normal;
}

.subtitle, .subhead {
  font-size: $large;
  line-height: $line-height;
}

.reversefootnote {
  font-family: $sans-serif;
  font-size: $small;
  font-weight: bold;
  text-decoration: none;
}

.reverse-indent {
    list-style: none;
    padding-left: $spacing;
    text-indent: -1 * $spacing;
}
