// Breakpoints

$small-breakpoint: 700px;

// Color

$color-black: #0C306D;
$color-grey: #6F83A5;
$color-white: #FCFDFF;
$color-accent-light: #C5DAFD;
$color-accent-dark: #1B6BEF;

// Typography

$font-serif: "PT Serif", serif;
$font-sans-serif: "Chivo", sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$line-height: 1.6em;

// Spacing

$base-spacing: $line-height;
$base-margin: $base-spacing;
$base-padding: $base-spacing;
$max-width-large: 26em;
