$color-black: #262626;
$color-grey: #555555;
$color-white: #FAFAFA;
$color-accent: #0a7ffb;

$spacing: 1.4rem;
$line-height: 1.4em;

$serif: "Iowan Old Style", "Georgia", serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$small: 0.8em;
$large: 1.2em;
