---
title: Allan Lasser &bull; Writing
---
{% include header.html %}

<div class="writing page">
    {% for post in site.posts %}
    <article class="post">
        <header>
            <time class="date" datetime="{{post.date|date_to_xmlschema}}" title="{{post.date|date_to_rfc822}}">
                {{ post.date | date_to_long_string }}
            </time>
            <h1 class="title">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                    {{ post.title }}
                </a>
            </h1>
        </header>
        {{ post.content }}
    </article>
    {% endfor %}
</div>

{% include footer.html %}
