---
title: Allan Lasser / Writing
layout: page
---
<div class="writing page">
    <h1 class="full">Writing</h1>
    <p class="full subhead">Writing on technology, history, architecture, and design.</p>
    <div class="column">
        <h2><a href="essays">Essays</a></h2>
        <ul class="essay collection nostyle-list">
        {% for essay in site.essays reversed %}
            <li class="essay item">
                <time class="date" datetime="{{essay.date|date_to_xmlschema}}" title="{{essay.date|date_to_rfc822}}">
                    {{essay.date|date:"%Y"}}
                </time>
                <h3><a href="{{site.url}}{{essay.url}}" title="{{post.title}}">{{essay.title}}</a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h2><a href="blog">Blog</a></h2>
        <ul class="blog collection nostyle-list">
        {% for post in site.posts %}
            <li class="blog item">
                <time class="date" datetime="{{post.date|date_to_xmlschema}}" title="{{post.date|date_to_rfc822}}">
                    {{post.date|date:"%B %d, %Y"}}
                </time>
                <h3><a href="{{site.url}}{{post.url}}" title="{{post.title}}">{{post.title}}</a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
