abbr {
    font-variant: small-caps;
    font-feature-settings: "smcp" 1;
    cursor: help;
}

hr {
    border: 1px solid;
}

figure {
    img {
        width: 100%;
        height: auto;
    }
    figcaption {
        max-width: 34rem;
        margin: 0 auto;
        text-align: left;
    }
}

.charlesgate.essay .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    figure {
        flex: 1 1 50%;
        margin: 0;
        padding: $spacing/2;
    }
}

.charlesgate.essay {
    .header {
        padding: 2*$spacing;
        text-align: center;
        p {
            text-align: center;
        }
    }
    .title {
        font-size: 3em;
        line-height: $line-height;
        font-weight: normal;
    }
    .subtitle, .subhead {
        text-align: center;
        font-family: $sans-serif;
        font-size: $large;
        line-height: $line-height;
        color: $color-grey;
    }

    .foreward {
        max-width: 40em;
        margin: 0 auto;
        font-size: $small;
        line-height: $line-height;
    }
    .quote p {
        font-style: italic;
    }
    p, blockquote, section header, footer {
        max-width: 34rem;
        text-align: left;
        margin: $spacing auto;
        header h2 {
            margin-bottom: 0;
        }
    }
    blockquote {
        padding-left: $spacing;
    }
    figure {
        text-align: center;
        a {
            text-decoration: none;
        }
    }

    figure img {
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
    }
    .bibliography {
        list-style: none;
        padding-left: $spacing;
        text-indent: -1 * $spacing;
    }

    section header {
        text-align: center;
        h2, p {
            margin: 0;
        }
    }
    #section-footer {
        margin-top: 4*$spacing;
    }
}

.charlesgate.essay figure {
    margin: 2*$spacing 0;
    img {
        max-width: 100%;
    }
}
