        </div>
        <!-- End content -->
        <nav class="navigation" id="bottom">
            <a href="#top">Top</a>
        </nav>
        <aside class="about">
            <a href="{{ site.url }}"><img class="portrait" src="{{ site.url }}/{{ site.images }}/portrait.jpg" alt="A portrait of the artist as a young man."></a>
            <section class="biography">
                <a href="{{ site.url }}" class="index-link"><h1>Allan Lasser</h1></a>
                <p>I spend most of my time making websites. I read and <a href="{{ site.url }}/writing/" title="Archive">write</a> the rest of the time.</p>
                <p>Right now I design tools and interfaces for reporters, researchers, and activists with the great team at <a href="https://www.muckrock.com/" title="MuckRock">MuckRock</a>.</p>
                <p>I make use of the web. <a href="https://pinboard.in/u:allanlasser" title="My Pinboard profile">Pinboard</a> is for links, <a href="https://www.flickr.com/photos/alasser/" title="My Flickr profile">Flickr</a> is for photos, <a href="http://www.rdio.com/people/alasser/" title="My Rdio profile">Rdio</a> is for music, and <a href="https://twitter.com/allanlasser">Twitter</a> is for inconsequential thoughts.</p>
                <p>If you want to contact me, then <a href="mailto:lasser.allan@gmail.com" title="Send me an email!">email</a> is best.</p>
                <p>All work on this website is under a <a rel="license" title="Creative Commons Attribution-ShareAlike 4.0 International License" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a> license.</p>
            </section>
        </aside>
        <!-- Begin scripts -->
        <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.bigfoot.min.js"></script>
        <script type="text/javascript">
            $.bigfoot();
            $('.container').fitVids();
        </script>
        <!-- End scripts -->
    </body>
</html>