<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="copyright" content="{{ site.copyright }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="screen, projector" href="{{ site.url }}/assets/css/style.css" />
        <link rel="stylesheet" media="print" href="{{ site.url }}/assets/css/print.css" />
        <link rel="shortcut icon" href="{{site.url}}/assets/favicon.ico" />
        <link rel="mask-icon" href="{{site.url}}/assets/favicon.svg" color="#000000">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body lang="en" class="day">
        <header class="global-header">
            <h1 class="name"><a href="{{ site.url }}" title="Homepage">Allan Lasser</a></h1>
            <ul class="sections inline-list">
                <li><a href="{{ site.url }}/work/" title="Projects I have worked on">Works</a></li>
                <li><a href="{{ site.url }}/writing/" title="Articles I have written">Writes</a></li>
                <li><a href="{{ site.url }}/reading/" title="Things I have read">Reads</a></li>
            </ul>
        </header>
