<!doctype html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title | append: " &#9728; " }}{% endif %}Allan Lasser</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" title="Journal Feed" href="{{site.url}}/feed.xml" />
        <link rel="stylesheet" media="screen, projector" href="{{ site.url }}/assets/css/style.css" />
        <link rel="stylesheet" media="print" href="{{ site.url }}/assets/css/print.css" />
        <link rel="shortcut icon" href="{{site.url}}/assets/favicon.ico" />
        <link rel="mask-icon" href="{{site.url}}/assets/favicon.svg" color="#000000">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body lang="en" class="serif container">
        <header class="justify-between bold">
            <p class="element"><a class="nounderline black" href="{{ site.url }}" title="Homepage">
                Allan Lasser
            </a></p>
            <ul class="inline small element">
                <li><a class="nounderline" href="/projects" title="What I Make">Projects</a></li>
                <li><a class="nounderline" href="/essays" title="What I Write">Essays</a></li>
                <li><a class="nounderline" href="/journal" title="What I Think">Journal</a></li>
            </ul>
        </header>
