<!doctype html>
<html>
    <head>
        <title>{{ page.title }} by {{ site.title }}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/assets/favicon.ico" />
        <link rel="stylesheet" href="/assets/style.css" />
        <link href='http://fonts.googleapis.com/css?family=PT+Serif|Chivo' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body lang="en">
        <nav class="navigation" id="top">
            <a href="#bottom">About</a>
        </nav>
        <div class="container">
        <!-- Begin content -->
