---
---

@import 'reset';

  ///////////////////////
 // V A R I A B L E S // 
///////////////////////

// Breakpoints

$small-breakpoint: 700px;

// Color

$color-black: #000000;
$color-grey: #666666;
$color-white: #FFFFFF;
$color-accent-light: #666666;
$color-accent-dark: #FFFFFF;

// Typography

$font-serif: "PT Serif", serif;
$font-sans-serif: "Chivo", sans-serif;
$font-size-small: 12pt;
$font-size-large: 16pt;
$line-height: 1.5em;

// Spacing

$base-spacing: $line-height;
$base-margin: $base-spacing;
$base-padding: $base-spacing;
$max-width-large: 26em;

  ///////////////////
 // I M P O R T S //
///////////////////

@import 'base';
@import 'post';

p {
    margin-bottom: $line-height/2;
}

a {
    color: $color-grey;
    &:link:after, &:visited:after { 
	    content: " (" attr(href) ") "; 
    	font-size: 90%; 
    }
}

.navigation {
    display: none;
}

.about {
    border-top: 1px solid $color-grey;
    max-width: 40em;
    overflow: hidden;
    margin: 1.5em auto;
    padding: 1.5em;
    .image-link { 
        display: none;
    }
    .biography {
        max-width: 30em;
        .index-link {
            text-decoration: none;
            color: $color-black;
            &:link:after, &:visited:after {
                content: "";
            }
            h1 {
                font-family: $font-sans-serif;
                font-size: $line-height;
                margin-bottom: $line-height/2;
            }
        }
        
    }
    h1 {
        @extend h1;
    }
}