---
title: Allan Lasser &bull; Reading
---
{% include header.html %}

<div class="reading page">
    <h1>Reading</h1>
    <p class="subhead">Notes and highlights from articles and books.</p>
    {% for highlight in site.highlights reversed %}
    <div class="highlight">
        <header>
            <p class="link"><a href="{{highlight.link}}">{{highlight.link}}</a></p>
            <h2 class="article"><a href="{{site.url}}{{highlight.url}}">{{highlight.title}}</a></h2>
            <p class="author">by {{highlight.author}}</p>
        </header>
        {{highlight.content}}
    </div>
    {% endfor %}
</div>

{% include footer.html %}
