{% include header.html %}
<article class="extra-vertical-space">
    <header class="flexbox flex-wrap align-baseline justify-between mb">
        <h1 class="title element flex-auto">{{ page.title }}</h1>
        <p class="element flex-0"><time class="small grey" datetime="{{page.date|date_to_xmlschema}}" title="{{page.date|date_to_rfc822}}">{{page.date|date:"%B %d, %Y"}}</time></p>
    </header>
    <main class="textbox element">
	    {{ content }}
    </main>
    <p class="large center"><a class="nounderline" href="#">&#9728;</a></p>
</article>
<h1 class="element bb mb">Other Entries</h1>
<ul class="nostyle nounderline">
{% for post in site.posts %}
    {% if post != page %}
    <li>{% include post.html %}</li>
    {% endif %}
{% endfor %}
</ul>
{% include footer.html %}
